<!DOCTYPE html>
<html>
<body>
  <div class="container">
  <header>
    <h1>My Education</h1>
  </header>
  <main>
    <section class="education" [@slideIn]="isThirdPage">
      <h1>EDUCATION</h1>
      <ul class="education-list">
        <li>
          <h3>SASTRA DEEMED UNIVERSITY</h3>
          <p>Jul 2019 - Jul 2023</p>
          <p>Bachelor of Technology in Information Technology</p>
          <p>Thanjavur, Tamil Nadu</p>
          <p>GPA: 7.5088</p>
        </li>
        <li>
          <h3>SOWDAMBIKA MATRICULATION SCHOOL</h3>
          <p>Jul 2017 - Mar 2018</p>
          <p>Class XII</p>
          <p>Tiruchirappalli, Tamil Nadu</p>
          <p>Percentage: 76.83%</p>
        </li>
        <li>
          <h3>THE ADITYA BIRLA MATRICULATION SCHOOL</h3>
          <p>Jun 2015 - Mar 2016</p>
          <p>Class X</p>
          <p>Ariyalur, Tamil Nadu</p>
          <p>Percentage: 96.4%</p>
        </li>
      </ul>
    </section>
  </main>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
</body>
</html>
