<!DOCTYPE html>
<html>

<body>
    <div class="container">
    <header>
        <h1>My Certifications</h1>
    </header>
    <main>
        <!-- Certification 1 -->


        <section class="certificate" [@slideIn]="isThirdPage">
            <h2>LTIMindtree internship program - LTIMindtree</h2>
            <p><i><b>Issue Date:</b> May 2023</i></p>
            <ul style="list-style-type:disc;">
            <li>During my internship at LTI Mindtree, I had the opportunity to delve into various aspects of web development and programming, gaining hands-on experience in multiple technologies.</li> </ul>
            <h3 style="margin-left: 30px;">Technologies Learned</h3>
            <ul style="list-style-type:disc;">
            <li>Acquired proficiency in HTML and CSS, enabling me to create well-structured and visually appealing web pages.</li>
            <li>Developed a strong foundation in JavaScript for interactive and dynamic web content.</li>
            <li>Gained expertise in C#, a versatile programming language, and used it to build applications and enhance their functionality.</li>
            <li>Successfully worked with the Angular framework, implementing single-page applications and enhancing user experiences.</li>
        </ul>
            <a href="https://drive.google.com/file/d/1DtrT051YtTVTdLzscUy50UnpKKgsGAab/view?usp=sharing" class="certificate-button" target="_blank">View Certificate</a>
        </section>

        <!-- Certification 2 -->

        <section class="certificate" [@slideIn]="isThirdPage" >
            <h2>Learn C++ Programming -Beginner to Advance- Deep Dive in C++ - Udemy</h2>
            <p><i><b>Issue Date:</b> Mar 2022</i></p>
            <ul style="list-style-type:disc;">
            <li>This certification shows that I have successfully completed a thorough C++ programming course, covering the fundamentals and advanced aspects of the language. </li>
            <li>It signifies my strong grasp of C++ and my ability to apply it effectively in real-world programming tasks.</li>
            </ul>
            <a href="https://drive.google.com/file/d/1E7BfJnPmCp3-YrOO5hxx6Ag7EKoAd4GI/view?usp=sharing" target="_blank" class="certificate-button">View Certificate</a>
        </section>
              
        <!-- Certification 3 -->

        <section class="certificate" [@slideIn]="isThirdPage">
            <h2>DEVELOPING SOFT SKILLS AND PERSONALITY - NPTEL</h2>
            <p><i><b>Issue Date:</b> Oct 2021</i></p>
            <ul style="list-style-type:  disc;;">
            <li>The "Developing Soft Skills and Personality" certification from NPTEL showcases my commitment to personal and professional development.</li>
            <li>This certification signifies that I have completed a comprehensive course focused on enhancing essential soft skills and personality traits.</li>
            <li>Throughout the program, I have gained valuable insights and practical knowledge in areas such as effective communication, leadership, teamwork, time management, and self-confidence.</li>
           </ul>
            <a href="https://drive.google.com/file/d/1EMF-LCbIAvdfCursaaiC5qxRYGYNtlQp/view?usp=sharing" class="certificate-button" target="_blank">View Certificate</a>
        </section>

    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
</body>

</html>
