<!DOCTYPE html>
<html >
<body>
    <div class="container">
    <header>
        <img src="assets/dp1.jpg" alt="Karthikeyan C">
        <h1>Karthikeyan C</h1>
        <br>
        <div class="social-links">
            <a href="https://github.com/Karthikeyanc2000" target="_blank" class="social-link">GitHub</a> |
            <a href="https://leetcode.com/karthikn7/" target="_blank" class="social-link">LeetCode</a> |
            <a href="https://www.linkedin.com/in/karthikeyan-c-0354261a9" target="_blank" class="social-link">LinkedIn</a>
        </div>
    </header>
    <main>
        <section class="intro" [@slideIn]="isThirdPage">
            <h2>About Me</h2>
            <p style="font-style:normal;">
                I am a dedicated recent B.Tech graduate in Information Technology with a deep passion for software development. I actively seek opportunities to leverage my programming expertise to lead transformative projects, inspire innovation, and contribute to an organization's mission while advancing my career aspirations.
            </p>
        </section>
    </main>
</div>
</body>
</html>
