body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #111; /* Dark gray background */
  color: #fff; /* White text color */
  min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
  display: flex; /* Use flexbox to vertically center content */
  flex-direction: column; /* Stack children vertically */
}

.container {
  flex: 1; /* Allow the container to grow and take up available space */
}

header {
  text-align: center;
  padding: 40px 0;
  background-color: #222; /* Slightly lighter gray header background */
  color: #fff; /* White text color for header */
}

header img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff; /* White border for the image */
  transition: border-color 0.3s
}

header h1 {
  font-size: 36px;
  margin: 10px 0;
  font-weight: bold; /* Make the name bold */
}

header p {
  font-size: 18px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333; /* Slightly darker gray background for content */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Slightly darker shadow with more spread */
}


/* Existing CSS styles */

.intro {
  margin: 20px 0;
  background-color: #222; /* Darker gray background for the "About Me" section */
  padding: 20px;
  border-radius: 10px;
}

.intro h2 {
  font-size: 24px;
  color: #fff;
  text-align: center; /* Center-align the section title */
  margin-bottom: 20px; /* Add some space below the title */
}

.intro p {
  font-size: 18px; /* Increased font size for better readability */
  text-align: justify; /* Justify-align the text for a cleaner look */
}

.social-links {
  text-align: center;
  margin-top: 20px; /* Increased margin for better spacing */
}

.social-link {
  text-decoration: none;
  font-size: 20px;
  color: #007BFF; /* Blue text color for social links */
  transition: color 0.3s;

}

.social-link:hover {
  color: #0056b3; /* Slightly darker blue on hover */
}

/* Existing CSS styles */



