<!DOCTYPE html>
<html>
<body>
    <div class="container">
    <header>
        <h1>My Experience</h1>
    </header>
    <main>
        <section class="intro" [@slideIn]="isThirdPage" >
            <h2 class="experience-title">
                LTIMindtree - SDE intern 
                <span class="experience-date">Feb 2023 - May 2023</span>
              </h2>
            <p>
                During my enriching internship at LTIMindtree, I delved deep into the world of software development as a Software Development Engineer<b> (SDE)</b>. This transformative journey allowed me to acquire a diverse skill set and hands-on experience with cutting-edge technologies.
            </p>
            <h3>Key Achievements and Learnings</h3>
            <ul>
                <li><strong>HTML and CSS Mastery:</strong> I honed my skills in HTML and CSS, enabling me to craft beautifully structured and visually appealing web pages. This foundation in web design proved invaluable.</li>
                <li><strong>JavaScript Wizardry:</strong> I developed a strong command of JavaScript, using it to create interactive and dynamic web content that captivated users and enhanced their online experiences.</li>
                <li><strong>Mastering C#:</strong> Exploring C#, a versatile programming language, allowed me to build robust applications and elevate their functionality. This deep dive into C# broadened my horizons in software development.</li>
                <li><strong>Angular Advancements:</strong> My journey included working with the Angular framework, where I mastered the art of building single-page applications that transformed user experiences. Angular opened doors to innovative web solutions.</li>
                <li><strong>SQL Proficiency:</strong> I gained expertise in SQL, which empowered me to manage and manipulate databases effectively. This skill is invaluable for data-driven applications.</li>
                <li><strong>Collaborative Excellence:</strong> In a collaborative environment, I learned the art of teamwork, effective communication, and project coordination. These soft skills are indispensable in professional settings.</li>
                <li><strong>Problem-Solving Savvy:</strong> Complex problem-solving became second nature. I relished tackling challenges and architecting solutions that streamlined processes and improved user satisfaction.</li>
                <li><strong>Mentoring and Knowledge Sharing:</strong> I had the opportunity to mentor and share my knowledge with peers, fostering a culture of continuous learning within the team.</li>
            </ul>
            <a href="https://drive.google.com/file/d/1DtrT051YtTVTdLzscUy50UnpKKgsGAab/view?usp=drive_link" class="certificate-button" target="_blank">View Certificate</a>
        </section>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr style="border: 4px solid #000;">
    </div>
</body>
</html>
