<!DOCTYPE html>
<html>
<body>
    <div class="container">
    <header>
        <h1>My Projects</h1>
    </header>
    <main>
        <section class="project"  [@slideIn]="isThirdPage" >
            <h2>1. Online Shopping Website using Angular<h6>Jun 2023 - Jul 2023</h6></h2>
            <ul  style="list-style-type:disc;" >
            <li>Crafted a responsive and user-friendly online shopping website utilizing the Angular framework.</li>
            <li>Enhanced the user experience by incorporating four distinct navigation windows for streamlined shopping.</li>
            <li>Embracing a user-centric approach, I prioritized an effortless and enjoyable shopping journey, optimizing every aspect of the browsing, product selection, and checkout processes for a seamless and satisfying customer experience. </li>
            </ul>
             <b>  Live Website: </b><a href="https://karthikeyanc2000.github.io/AngularProject1/MHOME" target="_blank">Online Shopping Website</a> 
             <br>
             <br>
             <br>
             <section class="contact-icons">
                <a href="https://github.com/Karthikeyanc2000/AngularProject1" target="_blank" class="github-icon">
                    <img src="assets/GitHub.jpg" alt="GitHub Icon">
                </a>
            </section>
            
        </section>
        <section class="project"  [@slideIn]="isThirdPage" >
            <h2>2. Personal Portfolio using Angular<h6>Aug 2023</h6></h2> 
            <ul style="list-style-type:disc;">
            <li>Designed and developed a captivating personal portfolio website using Angular, showcasing my skills and achievements. </li>
            <li>This project serves as a dynamic platform to highlight my professional journey, featuring interactive elements and a modern, user-friendly interface that engages visitors effectively.</li>
            <li>The portfolio demonstrates not only my technical proficiency but also my commitment to presenting a professional and attractive online presence, reflecting my dedication to continuous growth and learning.</li>
        </ul>
        <b>  Live Website: </b><a href="https://karthikeyanc2000.github.io/Portfolio1/" target="_blank">Portfolio Website</a>
        <br>
        <br>
        <br>
        <section class="contact-icons">
            <a href="https://github.com/Karthikeyanc2000/Portfolio1" target="_blank" class="github-icon">
                <img src="assets/GitHub.jpg" alt="GitHub Icon">
            </a>
        </section>
         
    </section>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
</body>
</html>
