<!DOCTYPE html>
<html>

<body>
    <div class="container">
    <header>
        <h1>Contact Information</h1>
    </header>
    <main>
        <section class="contact" [@slideIn]="isThirdPage" >
            <div class="contact-item">
                <img src="assets/gmail2.jpg" alt="gmail Icon" class="contact-icon">
                <p><b>karthikeyanc73@gmail.com</b></p>
            </div>
            <div class="contact-item">
                <img src="assets/mobile.jpg" alt="call Icon" class="contact-icon">
                <p><b> +91  7094075956</b></p>
            </div>
        </section>

            <section class="contact"[@slideIn]="isThirdPage" >
                <div class="contact-icons">
                    <a href="https://www.linkedin.com/in/karthikeyan-c-0354261a9" target="_blank">
                        <img src="assets/linked in.jpg" alt="LinkedIn Icon" class="contact-icon linkedin-icon">
                    </a>
                </div>
                
            </section>  
    <br>
    <br>
    <br>




    </main>
    </div>
</body>

</html>
