<!DOCTYPE html>
<html>
<body>
    <div class="container">
    <header>
        <h1>My Skills</h1>
    </header>
    <main>
        <section class="skills" [@slideIn]="isThirdPage" >
            <h2>Skills</h2>
            <ul style="list-style-type:disc;" >
                <li><b>Programming Languages:</b> Java, C#, C++</li>
                <li><b>Web Development: </b>HTML, CSS, JavaScript, TypeScript</li>
                <li><b>Frameworks: </b>Angular</li>
                <li><b>Relational Database: </b>SQL</li>
                <li><b>Tools and IDEs: </b>Visual Studio Code</li>
            </ul>
        </section>
    </main>
</div>
</body>
</html>
