<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a (click)="navigateToHome()">Portfolio</a>
    </div>
    <div class="navbar-menu">
      <ul>
        <li><a routerLink="/About" routerLinkActive="active-link" >About</a></li>
        <li><a routerLink="/Experience" rounterActivate ="active-link">Experience</a></li>
        <li><a routerLink ="/Education" routerLinkActive="active-link">Education</a></li>
        <li><a routerLink="/Skills" routerLinkActive="active-link" >Skills</a></li>
        <li><a routerLink="/Projects" routerLinkActive="active-link" >Projects</a></li>
        <li><a routerLink="/Certification" routerLinkActive="active-link">Certifications</a></li>
        <li><a routerLink="/Contact" routerLinkActive="active-link">Contact</a></li>
        <li class="resume-button"><a href="https://drive.google.com/file/d/1Hw1UY1TVM02kcKd1wWSQ3sPLA8ZVFom3/view?usp=sharing" target="_blank" >Resume</a></li>
      </ul>
    </div>
  </div>
</nav>

<div  class ='abc'>
 <!-- <app-about></app-about>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <app-certification></app-certification>
  <app-contact></app-contact> -->
  <router-outlet></router-outlet>
</div>